
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f8fbff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}


h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}


.input-group {
    text-align: left;
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    background-color: #f2f4f8;
    outline: none;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #2217f3;
}


button {
    width: 100%;
    padding: 12px;
    background-color: #2217f3;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2217f3;
}


p {
    margin-top: 15px;
    font-size: 14px;
}

a {
    color: #2217f3;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
